@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'B Koodak';
}



body {
    direction: rtl !important;
    font-family: 'B Koodak', sans-serif;
}

:lang(en) {
    font-family: 'Inter', 'Segoe UI', sans-serif;
}